In [2]:
import pandas as pd

In [3]:
s = pd.Series(data = [1,2,2,3])

In [4]:
s = pd.Series(data = [1,2,4,6], index=['a','b','c','d'], name = 'sample')

In [9]:

s = pd.Series(data=['python', "java", 'sql'], name='languages' )
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
 import numpy as np

In [9]:
np.nan

nan

a    1
b    2
c    4
d    6
Name: sample, dtype: int64

In [11]:
s = pd.Series(data = [1,np.nan,4,6], index=['a','b','c','d'], name = 'sample')

In [12]:
s

a    1.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [13]:
s = pd.Series([True,False,False])

In [14]:
s

0     True
1    False
2    False
dtype: bool

In [12]:
import numpy as np
s = pd.Series(data = np.arange(10,20), index= pd.date_range(start =" 20200101", periods = 10))

In [14]:
s
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [17]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [18]:
s.dtypes

dtype('int32')

In [19]:
s.shape

(10,)

In [39]:
price = pd.Series(data={'Apple': 200, 'CD Project': 60, 'Amazon': 1900, 'KHG': np.nan})

In [40]:
price.count()

3

In [48]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [42]:
price.sum()

2160.0

In [44]:
price.min()

60.0

In [45]:
price.max()

1900.0

In [46]:
price.std()

1024.3046421841502

In [47]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [51]:
price.nlargest(1)

Amazon    1900.0
dtype: float64

In [52]:
price.nsmallest(1)

CD Project    60.0
dtype: float64

In [53]:
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
KHG           NaN
dtype: float64

In [54]:
price.sort_values()

CD Project      60.0
Apple          200.0
Amazon        1900.0
KHG              NaN
dtype: float64

In [56]:
price.sort_values()

CD Project      60.0
Apple          200.0
Amazon        1900.0
KHG              NaN
dtype: float64

In [58]:
price_pln = price.apply(lambda x: x * 3.8)  # Zmiana Serii danych przez funckjÄ™

In [59]:
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KHG              NaN
dtype: float64